@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

button {
  border: 0;
  padding: 0;
}

.component__profile-date {
  display: flex;
  gap: 1rem;
}

.profile__avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.profile__name, .profile__date {
  font-size: 0.8125rem;
  line-height: 1.4;
  letter-spacing: 0;
}
.profile__name {
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}
.profile__date {
  font-weight: 500;
  color: hsl(212, 23%, 69%);
}

.component__share-button,
.component__share-button--close {
  margin-left: auto;
  width: 2rem;
  height: 2rem;
  fill: hsl(214, 17%, 51%);
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.component__share-button:hover, .component__share-button:active, .component__share-button:focus-visible {
  fill: white;
  background-color: hsl(214, 17%, 51%);
}

.share-tost--mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block: 1.375rem;
  padding-inline: 1.875rem;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
  width: 100%;
  top: 100%;
  transform: translateY(-100%);
  background-color: hsl(217, 19%, 35%);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition: opacity 0.2s ease-in-out, visibility 0.4s linear 0.4s;
}
.share-tost--mobile.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.share-tost__text {
  font-size: 0.8125rem;
  line-height: 1.4;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: hsl(212, 23%, 69%);
}

.social-icons-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-inline-start: 1.5rem;
}

.social-icons__link {
  display: flex;
}

@media (min-width: 48rem) {
  .share-tost--mobile {
    width: fit-content;
    padding-block: 1.125rem;
    padding-inline: 2.375rem;
    border-radius: inherit;
    top: 100%;
    right: 0;
    transform: translate(30%, -290%);
  }
  .share-tost--mobile::before {
    content: "";
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    border-left: 0.875rem solid transparent;
    border-right: 0.875rem solid transparent;
    border-bottom: 0.8125rem solid hsl(217, 19%, 35%);
  }
  .component__share-button--close {
    display: none;
  }
}
@media (min-width: 90rem) {
  .share-tost--mobile {
    transform: translate(28%, -270%);
  }
}
html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  padding-block: clamp(4rem, -5.721rem + 41.476vw, 14.188rem);
  background-color: hsl(210, 46%, 95%);
  padding-inline: clamp(1.5rem, -1.84rem + 14.249vw, 5rem);
}

.article {
  max-width: 27.5rem;
  position: relative;
  border-radius: 0.625rem;
  box-shadow: 0 2.5rem 2.5rem -0.625rem rgba(201, 213, 225, 0.5);
  background-color: hsl(0, 100%, 100%);
}
.article__img {
  width: 100%;
  aspect-ratio: 327/200;
  object-fit: cover;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}
.article__media-block {
  padding-block-start: 2rem;
  padding-inline: 1.875rem;
  padding-block-end: 1.125rem;
}
.article__header {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: 0.01em;
  color: hsl(217, 19%, 35%);
}
.article__main-text {
  margin-block-start: 1.5rem;
  font-size: 0.8125rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: hsl(214, 17%, 51%);
}

.info-block {
  margin-block-start: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 48rem) {
  .article {
    display: flex;
    max-width: 45.625rem;
  }
  .article__img {
    min-width: 14.3125rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.625rem;
  }
  .article__media-block {
    padding-block: 2.5625rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2.25rem;
  }
  .info-block {
    margin-block-start: 1.5rem;
  }
}
@media (min-width: 90rem) {
  .article__img {
    max-width: 100%;
  }
  .article__media-block {
    max-width: 27.8125rem;
    padding-block: 1.875rem;
    padding-inline: 2.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
